*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	background: #222;
	font-family: 'Andale Mono', sans-serif;
	font-size: 18px;
}

p {
	color: #ffffff;
}

/*Header*/
.header {
	font-family: 'Cabin Sketch', cursive;
	font-size: 300%;
	color: #ffffff;
	text-align: center;
}

.topnav {
	background-color: #333;
	overflow: hidden;
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	z-index: 1;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
	font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
	color: black;
}

/* Add color to the active link */
.topnav a:active {
    background-color: black;
    color: white;
}


/*Introduction*/

.intro {
	width: 100%;
	height: 600px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.intro svg#leaf {
	display: block;
	width: 240px;
	height: 240px;
	margin: 0 auto 50px;
}

.intro h1 {
	font-size: 400%;
	color: #ffffff;
	font-family: 'Cabin Sketch', cursive;
	text-align: center;
}

.intro p {
	text-align: center;
	font-size: 7em;
	margin: 20px 0 20px 0;
}

#leaf {
	-webkit-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#leaf:hover {
	-webkit-filter: drop-shadow(0px 0px 82px rgba(0, 231, 255, 0.8));
}

/*About*/
.about {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*News*/
.news {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Projects*/
.projects {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Events*/
.events {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Resources*/
.resources {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Code of conduct*/
.codeofconduct {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Members*/
.members {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Contributors*/
.contributors {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
.contributors .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 20px;
}
.contributors .card-container {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 5px;
	perspective: 1000px;
}
.contributors .card {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 5px;
	transform-style: preserve-3d;
	transition: 0.4s;
}
.contributors .card:hover {
	box-shadow: 0 0 10px rgba(255,255,255,0.60);
}
.contributors .card.flipped {
	transform: rotateY(180deg);
}
.contributors .card-content {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.contributors .card-content.front {
	transform: rotateY(0deg);
	z-index: 2;
}
.contributors .card-content.back {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #FFFFFF;
	padding: 10px;
	transform: rotateY(180deg);
}
.contributors .name {
	color: #999999;
	font-size: 12px;
	word-wrap: break-word;
	text-decoration: none;
}
.contributors .name:hover {
	color: #000000;
}
.contributors .image {
	width: 100px;
	height: 100px;
	border-radius: 5px;
}
.contributors .image img {
	object-fit: cover;
	border-radius: 5px;
	z-index: 1;
}
/*How We Started*/
.started {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Vision*/
.vision {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Gallery*/
.gallery {
	width: 100%;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}
/*Contact*/
.contact {
	width: 100%;
	height: 500px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	overflow: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.left {
	flex: 100%;
	padding: 5px;
}

.right {
	flex: 100%;
	padding: 5px;
}

.octocat {
	width: 100%;
	-webkit-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.octocat:hover{
	-webkit-filter: drop-shadow(0px 0px 82px rgba(0, 231, 255, 0.8));
}
@media screen and (min-width: 401px) {
	.left {
		flex: 50%;
		padding: 5px;
	}
	.right {
		flex: 50%;
		padding: 5px;
	}
}

@media screen and (min-width: 701px) {
	.left {
		flex: 33%;
		padding: 5px;
	}
	.right {
		flex: 66%;
		padding: 5px;
	}
}

@media screen and (min-width: 1001px) {
	.left {
		flex: 20%;
		padding: 5px;
	}
	.right {
		flex: 80%;
		padding: 5px;
	}
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.font-icon {
  font-size: 30px;
  color: #fff;
  padding: 10px;
}
